<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UV Suggestor</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <div class="main-container">
        <% if(!locals.message) { %>
            <h1>Should you wear sunscreen today?</h1>
        <% } else { %>
            <h1><%= message %></h1>
        <% } %>
        <form action="/submit" method="POST">
            <label for="lat">Latitude</label>
            <input type="number" placeholder="Insert Latitude" name="lat" id="latitude" required>
            <label for="lng">Longitude</label>
            <input type="number" placeholder="Insert Longitude" name="lng" id="longitude" required>
            <label for="lng">Altitude</label>
            <input type="number" placeholder="Insert Altitude(optional)" name="alt" id="altitude">
            <input type="submit" value="Submit" id="submit">
        </form>
    </div>
</body>
</html>